body {
    margin: auto;
    background-image: url("../images/norwegian_rose.png");


}

nav {
    color: #777;
    background-color: #fff;
    text-align: right;
    float: right;
    width: 100%;
    padding: 25px;
    border-bottom: solid;
    border-bottom-color: #ccc;
    border-color: lighter;
}

li {
    display: inline-block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, "Helvetica Neue, Helvetica, sans-serif";
    position: relative;
    right: 150px;

}

.ab {
    border-right: solid;
    border-width: 1px;
    border-right-color: #777;
}

.port {
    border-right: solid;
    border-width: 1px;
    border-right-color: #777
}

h1 {
    color: #fff;
    background-color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, Times, "Times New Roman", serif;
    width: 300px;
    text-align: center;
    z-index: 1;
    float: left;
    position: absolute;
    top: 0px;
    left: 150px;
    padding-top: 18px;
    padding-bottom: 18px;
}

section {
    width: 650px;
    position: absolute;
    top: 100px;
    left: 150px;
    border: hidden;
    background-color: #fff;
}

h2 {
    color: #4aaaa5;
    background-color: #fff;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    border-bottom: solid;
    border-bottom-color: #ccc;
    margin: 15px;
    width: 550px;
    position: relative;
    left: 5px;
}

.me {
    width: 160px;
    position: relative;
    left: 20px;
}

p {
    color: #777;
}

aside {
    width: 270px;
    float: right;
    position: relative;
    top: 20px;
    right: 130px;
    color: #4aaaa5;
    background-color: #fff;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin: 15px;
}

h3 {
    padding: 10px;
    border-bottom: solid;
    border-bottom-color: #ccc;
    width: 200px;
    margin-left: 25px;
}

.gh {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-right: 5px;
    position: relative;
    right: 100px;

}

footer {
    color: #ccc;
    background-color: #666666;
    text-align: center;
    width: 100%;
    padding: 25px;
    float: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    border-top: solid;
    border-top-color: #4aaaa5;
    border-top-width: 8px;
    position: relative;
    top: 415px;

}

form {
    color: #777;
    position: relative;
    left: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

input {
    width: 600px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message {
    padding-bottom: 150px;
}

.submit {
    width: 100px;
}

.stock {
    float: left;
    width: 160px;
    height: 140px;
    border: hidden;
    padding: 20px;
    position: relative;
    left: 70px;
    margin: 20px;
}

.hangman,
.RPGgame,
.Trivia,
.InfoWidget,
.RockPaperScissors {
    color: #777;
    background-color: #4aaaa5;
    padding: 10px;
    margin: 5px;
    width: 60px;
}
