/* Body - tiled background image */
body {
    margin: auto;
    background-image: url("../images/norwegian_rose.png");


}

/* -----Nav Bar----- */
nav {
    color: #777;
    background-color: #fff;
    text-align: right;
    float: right;
    width: 100%;
    padding: 25px;
    border-bottom: solid;
    border-bottom-color: #ccc;
    border-color: lighter;
}

nav a {
    text-decoration: none;
    color: #777777;
}

li {
    display: inline-block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, "Helvetica Neue, Helvetica, sans-serif";
    position: relative;
    right: 150px;

}

.ab {
    border-right: solid;
    border-width: 1px;
    border-right-color: #777;
}

.port {
    border-right: solid;
    border-width: 1px;
    border-right-color: #777
}
/* -----End Nav Bar----- */


/* Heading (Morgan Bradley) */
h1 {
    color: #fff;
    background-color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, Times, "Times New Roman", serif;
    width: 300px;
    text-align: center;
    z-index: 1;
    float: left;
    position: absolute;
    top: 0px;
    left: 150px;
    padding-top: 18px;
    padding-bottom: 18px;
}

/* -----Main Section for each page----- */
section {
    width: 650px;
    position: absolute;
    top: 100px;
    left: 150px;
    border: hidden;
    background-color: #fff;
    padding-bottom: 60px;
}

h2 {
    color: #4aaaa5;
    background-color: #fff;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    border-bottom: solid;
    border-bottom-color: #ccc;
    margin: 15px;
    width: 550px;
    position: relative;
    left: 5px;
}

/* Image w/in Main Section */
.me {
    width: 160px;
    float: left;
    margin: 20px;
}

/* all paragraphs */
p {
    color: #777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 30px;
}

.p1 {
    margin-top: 30px;
}

.p2 {
    margin-top: 10px;
}
/* -----End Main Section----- */

/* Connect with Me Aside */
aside {
    width: 270px;
    float: right;
    position: relative;
    top: 20px;
    right: 130px;
    color: #4aaaa5;
    background-color: #fff;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin: 15px;
}

h3 {
    padding: 10px;
    border-bottom: solid;
    border-bottom-color: #ccc;
    width: 200px;
    margin-left: 25px;
}

/* GitHub image */
.gh {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-right: 5px;
}

footer {
    color: #ccc;
    background-color: #666666;
    text-align: center;
    width: 100%;
    padding: 25px;
    float: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    border-top: solid;
    border-top-color: #4aaaa5;
    border-top-width: 8px;
    position: relative;
    top: 415px;

}


/* -----Contact Page----- */
form {
    color: #777;
    position: relative;
    left: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

input {
    width: 600px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message {
    padding-bottom: 150px;
}

.submit {
    width: 100px;
}
/* -----End Contact Page----- */

/* -----Portfolio Page----- */
.stock {
    float: left;
    width: 200px;
    height: 180px;
    border: hidden;
    position: relative;
    left: 80px;
    margin: 20px;
}

/* Name Tags*/
.hangman,
.RPGgame,
.Trivia,
.InfoWidget,
.RockPaperScissors {
    color: #fff;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #4aaaa5;
    padding: 10px;
    margin: 5px;
    width: 180px;
    float: left;
    z-index: 1;
    position: absolute;
}

/* Image Placeholders */
.hangman {
    position: absolute;
    top: 240px;
    left: 95px;
}

.RPGgame {
    position: absolute;
    top: 240px;
    left: 335px;
}

.Trivia {
    position: absolute;
    top: 460px;
    left: 95px;
}

.InfoWidget {
    position: absolute;
    top: 460px;
    left: 335px;
}

.RockPaperScissors {
    position: absolute;
    top: 680px;
    left: 95px;
}

.portfoot {
    position: relative;
    top: 675px;
}

.footcontact {
    position: relative;
    top: 470px;
}
/* -----End Portfolio Page----- */